* {
    margin: 0;
    padding: 0;
}

.abc .swiper-slide {
    width: 100%;
    height: 700px;
    text-align: center;
}

.bg1 {
    background-color: rosybrown;
}

.bg2 {
    background-color: silver;
}

.bg3 {
    background-color: skyblue;
}

.bg4 {
    background-color: wheat;
}